<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.e404.bot.mapper.UsageMapper">
    <!--在当前mapper中使用二级缓存-->
    <cache type="org.mybatis.caches.ehcache.EhcacheCache"/>

    <!--初始化表-->
    <update id="initTable">
        CREATE TABLE IF NOT EXISTS `usage`
        (
            `id`       BIGINT UNSIGNED    NOT NULL COMMENT '若是群聊则代表群聊id, 否则代表用户id',
            `name`     VARCHAR(255)       NOT NULL COMMENT '指令名字',
            `is_group` BOOLEAN            NOT NULL COMMENT '会话是否是群聊',
            `count`    MEDIUMINT UNSIGNED NOT NULL COMMENT '使用次数',
            PRIMARY KEY (`id`, `name`, `is_group`)
        ) ENGINE = InnoDB
          DEFAULT CHARSET = UTF8;
    </update>

    <!--有则加一, 无则插入一-->
    <insert id="add">
        INSERT INTO `usage`(`id`, `name`, `is_group`, `count`)
            VALUE (#{id}, #{name}, #{is_group}, 1)
        ON DUPLICATE KEY
            UPDATE `count`=`count` + 1;
    </insert>

    <!--获得指令使用top10-->
    <select id="get" resultType="UsageData">
        SELECT `name`, `count`
        FROM `usage`
        WHERE `id` = #{id}
          AND `is_group` = #{is_group}
        ORDER BY count DESC
        LIMIT 10;
    </select>
</mapper>